.add-exercise-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 30px;
  padding-top: 6px;
  position: relative; 
  overflow: hidden; 
  z-index: 1; 
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
}

.add-exercise-form h2 {
  color: white;
  margin-top: 100px;
}

  
  .add-exercise-form form {
    display: flex;
    flex-direction: column;
  }
  
  .add-exercise-form label {
    color: #fff; 
  }
  
  .add-exercise-form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #d8aa76c9;
    background: rgba(43, 39, 39, 0.137); 
    color: #f0e6e6; 
    backdrop-filter: blur(5px); 
  }
  
  .add-exercise-form input:focus {
    outline: none;
    border-color: #aa5885d0;
  }
  
  .add-button {
    display: block;
    margin: 0 auto;
    padding: 0.7rem;
    color: white;
    background-color: #7a0532;
    width: 220px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-button:hover {
  opacity: 0.9;
}

  .exercise-item span {
    display: flex;
    gap: 20px;
  }
  
  .delete-button {
    margin-bottom: 20px;
    background-color: #aa0808;
    border: 1px solid #aa0808;
    padding: 0.6rem;
    width: 140px;
    border-radius: 5px !important;
    cursor: pointer;
  }

  .edit-button {
    margin-bottom: 20px;
    background-color: #7a0532;
    border: 1px solid #7a0532;
    padding: 0.6rem;
    width: 150px; 
    gap: 20px;
    margin-left: 120px;
    cursor: pointer;
    border-radius: 5px !important;
  }

  h3, p {
    color: #fff;
    text-align: center;
    margin-top: 40px;
  }