.workout-page {
  padding: 2rem;
  background-color: #353538;
  min-height: 100vh;
}

h2 {
  color: wheat;
}

.exercise-selection {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.exercise-selection h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.exercise-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Reduced gap between items */
}

.exercise-category {
  flex: 1 1 20%; /* Smaller boxes by reducing width */
  min-width: 200px; /* Adjusted for smaller boxes */
  background-color: #8d87875e;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.exercise-category.full-width {
  flex: 1 1 100%;
}

.exercise-category h3 {
  font-size: 1.2rem; /* Reduced font size */
  color: #444;
  margin-bottom: 10px;
}

.category-exercises {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduced gap between exercise items */
}

.exercise-block {
  background-image: url('https://media1.popsugar-assets.com/files/thumbor/GIECAu8-qFqbHXtmRpk6UONXQTc=/fit-in/792x1188/filters:format_auto():upscale()/2022/03/30/813/n/46902964/4200d33da202f151_pexels-karolina-grabowska-4397840.jpg');
  border-radius: 8px;
  padding: 0.8rem; /* Reduced padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.exercise-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.exercise-block.selected {
  background-color: #6c63ff;
  color: white;
}

.exercise-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px; /* Reduced margin */
}

.exercise-block h4 {
  font-size: 1rem; /* Reduced font size */
  color: #333;
  margin-bottom: 5px; /* Reduced margin */
}

.exercise-block p {
  font-size: 0.9rem; /* Smaller text for description */
  color: #666;
}

/* Optional: Add hover effect on exercise items */
.exercise-block.selected h4 {
  color: #fff;
}
